<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Datatables Ajax</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="py-3">Datatables with ajax</h1>
      <table id="table" class="table table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Ações</th>
          </tr>
        </thead>
      </table>
      <br />
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"
    ></script>
    <script>
      $(document).ready(function() {
        $("#table").DataTable({
          order: [[1, "asc"]],
          ajax: {
            url: "/v1/users",
            dataSrc: ""
          },
          columns: [
            { data: "id", className: "d-none" },
            { data: "nome" },
            { data: "endereco" },
            { data: null, defaultContent: renderButtons() }
          ]
        });
      });

      function renderButtons() {
        var buttons = `<td>
            <div class="btn-group">
                <a href="#" id="btnVisualizar" onclick=view(this) class="btn btn-primary">View</a>
                <a href="#" id="btnEditar" onclick=edit(this) class="btn btn-warning text-white">Edit</a>
                <a href="#" id="btnExcluir" onclick=remove(this) class="btn btn-danger">Delete</a>
            </div>
        </td>`;
        return buttons;
      }

      function view(val) {
        id = val.closest("tr").firstElementChild.innerText;
        val.href = "view/" + id;
      }

      function edit(val) {
        id = val.closest("tr").firstElementChild.innerText;
        val.href = "edit/" + id;
      }

      function remove(val) {
        id = val.closest("tr").firstElementChild.innerText;
        val.href = "delete/" + id;
      }
    </script>
  </body>
</html>
