<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Dados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
</head>

<body class="container">
<h1>Listagem de dados</h1>
<table id="myTable">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Ações</th>
    </tr>
    </thead>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            ajax: {
                url: '/v1/users',
                dataSrc: ''
            },
            columns: [
                {'data': 'nome'},
                {'data': 'endereco'},
                {'data': 'acoes'},
            ]
        });
    });
</script>
</body>

</html>